{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    {% if messages %}
        <div id="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'common:settings_base' %}">Account Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'common:settings_image' %}">Profile Image</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'common:password_reset' %}">Reset Password</a>
        </li>
    </ul>
    <div class="mt-3">
        <h4>Set your profile image</h4>
        <form method="post" enctype="multipart/form-data" action="{% url 'common:settings_image' %}" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <label for="profile_picture" class="form-label">Choose image:</label>
                <!-- Custom file input -->
                <div class="custom-file" style="width: 300px;">
                    <input type="file" name="profile_picture" id="profile_picture" class="custom-file-input" accept="image/*">
                    <label class="custom-file-label" for="profile_picture">Choose file</label>
                </div>
                <div class="invalid-feedback">
                    Please select a profile picture.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Upload Image</button>
        </form>
    </div>
</div>

<script>
    // JavaScript to update file input label when file is selected
    document.querySelector('#profile_picture').addEventListener('change', function(e) {
        var fileName = e.target.files[0] ? e.target.files[0].name : 'No file chosen';
        document.querySelector('.custom-file-label').textContent = fileName;
    });
</script>
{% endblock %}
