{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">AIPHABTC 뉴스 기반 비트코인 패턴매칭 분석 툴</h2>
    <div class="alert alert-info" role="alert">
        알파비트 인공지능 팀이 개발한 AI는 입력된 뉴스 제목과 내용에 문맥적으로 유사한 과거 뉴스를 추천하고, 해당 과거 뉴스가 발표된 시점으로부터의 비트코인 차트 데이터 (BTC-KRW)를 보여줍니다. 과거 뉴스 데이터는 주기적으로 업데이트 됩니다. 디폴트로 일봉 차트 데이터가 보여지고 30분봉 차트 데이터로 토글도 가능합니다.
    </div>
    <div class="mb-3">
        <label for="topKRange" class="form-label">조회할 상위 결과 수 (5-20):</label>
        <input type="range" class="form-range" id="topKRange" name="topK" min="5" max="20" value="5">
        <span id="topKValue" class="badge bg-secondary">5</span>
    </div>
    <div class="mb-4">
        <textarea id="newsText" name="news_text" class="form-control" rows="4" placeholder="뉴스 제목과 내용을 입력하세요."></textarea>
        <button type="button" id="searchButton" class="btn btn-primary mt-3">검색</button>
        <div id="loading" class="text-center my-3" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden"></span>
            </div>
        </div>
        <div id="results" class="mt-4"></div>
    </div>

    <h2 class="text-center mb-4">AIPHABTC 종가 기반 비트코인 패턴매칭 분석 툴</h2>
    <div class="alert alert-info" role="alert">
        Dynamic Time Warping (DTW) 방법의 차트 패턴 매칭 방법으로 현재 일봉 혹은 30분봉 구간과 가장 유사한 과거 일봉 혹은 30분봉을 계산해서 보여줍니다.
    </div>
    <!-- Add a toggle for 1D and 30M chart data -->
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="chartType" id="oneDayChart" value="1d" checked>
      <label class="form-check-label" for="oneDayChart">일봉</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="chartType" id="thirtyMinChart" value="30m">
      <label class="form-check-label" for="thirtyMinChart">30분봉</label>
    </div>
    <div>
        <label for="topKChartRange">조회할 상위 차트 결과 수 (5-20): </label>
        <input type="range" id="topKChartRange" name="topKChart" min="5" max="20" value="5">
        <span id="topKChartValue">5</span>
    </div>
    <div>
        <div style="text-align: center;"> <!-- Added inline CSS for center alignment -->
            <p><strong>현재 차트 종가 움직임</strong></p>
        </div>
        <div id="currentPatternInfo"></div>
        <div class="chart" id="currentPatternChart"></div>
    </div>
    <div>
        <button type="button" id="searchChartButton" class="btn btn-primary">검색</button>
    </div>
    <div id="chartLoading" class="text-center my-3" style="display: none;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
    <div id="chartResults"></div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var chartDataStorage = {};
    document.getElementById("searchButton").addEventListener("click", function() {
        document.getElementById("loading").style.display = "block";
        var newsText = document.getElementById("newsText").value;
        var topK = document.getElementById("topKRange").value;

        // Update the fetch URL to match your Django URL configuration
        var searchNewsUrl = "{% url 'aiphabtc:news_similarity' %}";

        // Get the CSRF token from the cookie
        var csrfToken = getCookie('csrftoken');

        fetch(searchNewsUrl, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken  // Include the CSRF token in the headers
            },
            body: JSON.stringify({ news_text: newsText, top_k: topK }),
        })
        .then(response => response.json())
        .then(data => {
            var resultsContainer = document.getElementById("results");
            resultsContainer.innerHTML = '';  // Clear previous results

            data.results.forEach(function(result, index) {
                // Store chart data in the global object
                chartDataStorage[index] = {
                    chart_data_30m: result.chart_data_30m,
                    chart_data_1d: result.chart_data_1d,
                }

                var resultDiv = document.createElement('div');
                resultDiv.className = 'result';
                resultDiv.innerHTML = `
                    <h5> Rank ${index + 1} </h5>
                    <p>${result.text}</p>
                    <p><strong>문맥형 유사도:</strong> ${result.similarity}%</p>
                    <p><strong>날짜:</strong> ${result.date}</p>
                    <button class="btn btn-secondary btn-sm" onclick="updateChart('chart${index}', 'chart_data_30m')">30m Chart</button>
                    <button class="btn btn-secondary btn-sm" onclick="updateChart('chart${index}', 'chart_data_1d')">1d Chart</button>
                    <div class="chart" id="chart${index}"></div>
                `;
                resultsContainer.appendChild(resultDiv);

                // Plot the chart: Default plot 1d chart
                updateChart(`chart${index}`, 'chart_data_1d');
            });
            document.getElementById("loading").style.display = "none";
        })
        .catch(error => {
            console.error("Error fetching news similarity results:", error);
            document.getElementById("loading").style.display = "none";
        });
    });

    function updateChart(chartId, chartDataType) {
        var index = chartId.replace('chart', ''); // Extract index from chartId
        var chartData = chartDataStorage[index][chartDataType];  // Get the correct chart data from the global object

        var chartDiv = document.getElementById(chartId);
        Plotly.newPlot(chartDiv, [
            {
                type: 'scatter',
                mode: 'lines',
                x: chartData.x,
                y: chartData.y,
            },
        ], {
            title: 'Bitcoin Price Chart',
            xaxis: { title: 'Time' },
            yaxis: { title: 'BTC-KRW' },
        });
    }


    document.getElementById("searchChartButton").addEventListener("click", function() {
        document.getElementById("chartLoading").style.display = "block";

        var topK = document.getElementById("topKChartRange").value;
        var chartType = document.querySelector('input[name="chartType"]:checked').value;
        // Construct the URL dynamically based on the selected chart type
        var searchChartUrl = `/aiphabtc/chart_similarity/${chartType}/`;
        var csrfToken = getCookie("csrftoken");

        fetch(searchChartUrl, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken
            },
            body: JSON.stringify({ top_k: topK }),
        })
        .then(response => response.json())
        .then(data => {
            var resultsContainer = document.getElementById("chartResults");
            resultsContainer.innerHTML = '';
            data.results.forEach(function(result, index) {
                var chartIdStart = `chartPatternStart${index}`;
                var chartIdEnd = `chartPatternEnd${index}`;

                var resultDiv = document.createElement('div');
                resultDiv.className = 'result';
                resultDiv.innerHTML = `
                    <br><br>
                    <h5> DTW Based Pattern Rank ${index + 1} </h5>
                    <div>DTW 유사 차트 패턴 구간:</div>
                    <div class="chart" id="${chartIdStart}"></div>
                    <div>DTW 유사 차트 패턴 구간 이후 움직임:</div>
                    <div class="chart" id="${chartIdEnd}"></div>
                `;
                resultsContainer.appendChild(resultDiv);

                plotChartPattern(chartIdStart, result.date_start, result.chart_data_start, 'rgba(255, 99, 132, 1)');
                plotChartPattern(chartIdEnd, result.date_end, result.chart_data_end, 'rgba(75, 192, 192, 1)');
            });

            document.getElementById("chartLoading").style.display = "none";
        })
        .catch(error => {
            console.error("Error fetching chart pattern matching results:", error);
            document.getElementById("chartLoading").style.display = "none";
        });
    });

    function plotChartPattern(chartId, xData, yData, lineColor) {
        var chartDiv = document.getElementById(chartId);
        Plotly.newPlot(chartDiv, [
            {
                type: 'scatter',
                mode: 'lines',
                x: xData,
                y: yData,
                line: { color: lineColor }
            }
        ], {
            xaxis: { title: 'Time' },
            yaxis: { title: 'BTC-KRW' }
        });
    }

    // Function to fetch and plot current chart pattern
    function fetchAndPlotCurrentPattern() {
        var chartType = document.querySelector('input[name="chartType"]:checked').value;
        var csrfToken = getCookie("csrftoken");

        fetch(`/aiphabtc/get_current_chart_pattern/`, {  // Adjust the URL as necessary
            method: "GET",
            headers: {
                "X-CSRFToken": csrfToken
            },
        })
        .then(response => response.json())
        .then(data => {
            // Choose the dataset based on the selected chart type
            var currentPatternData = chartType === '1d' ? data.current_pattern_1d : data.current_pattern_30m;
            plotChartPattern("currentPatternChart", currentPatternData.dates, currentPatternData.close, 'rgba(0, 123, 255, 1)');
        })
        .catch(error => {
            console.error("Error fetching current chart pattern:", error);
        });
    }

    window.onload = function() {
        fetchAndPlotCurrentPattern();
    };


    // Listen for changes to the chart type radio buttons and re-plot the current chart pattern
    document.querySelectorAll('input[name="chartType"]').forEach((elem) => {
        elem.addEventListener('change', function() {
            fetchAndPlotCurrentPattern();
        });
    });

    // Add an event listener to update the displayed value when the slider changes
    document.getElementById("topKChartRange").addEventListener("input", function() {
        document.getElementById("topKChartValue").innerText = this.value;
    });

    // Function to get CSRF token from cookies
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Add an event listener to update the displayed value when the slider changes
    document.getElementById("topKRange").addEventListener("input", function() {
        document.getElementById("topKValue").innerText = this.value;
    });
</script>
{% endblock %}
