{% extends 'base.html' %}
{% load aiphabtc_filter %}
{% block content %}
<div class="container my-3">
    <!-- conditionally display the board name -->
    {% if board %}
    <div class="row my-3">
        <div class="col-12">
            <h3 class="text-left">
                {% if board.name == 'free_board' %}
                    Free Board
                {% elif board.name == 'tutorials' %}
                    Tutorials
                {% elif board.name == 'perceptive_board' %}
                    Crypto Predictions
                {% elif board.name == 'announcements' %}
                    Announcements
                {% else %}
                    {{ board.name }}
                {% endif %}
            </h3>
        </div>
    </div>
    {% else %}
    <div class="row my-3">
        <div class="col-12">
            <h3 class="text-left">게시판</h3>
        </div>
    </div>
    {% endif %}

    <div class="row justify-content-between my-3">
        <div class="col-md-3 col-4">
            <select class="form-control so">
                <option value="recent" {% if so == 'recent' %}selected{% endif %}>Newest First</option>
                <option value="recommend" {% if so == 'recommend' %}selected{% endif %}>Most Recommended</option>
                <option value="popular" {% if so == 'popular' %}selected{% endif %}>Most Popular</option>
            </select>
        </div>
        <div class="col-8 input-group">
            <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">Search Post</button>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr class="text-center thead-dark">
            <th>ID</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr class="text-center">
            <td>{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</td>
            <td class="text-left">
                <a href="{% url 'aiphabtc:detail' question.id %}">
                    {{ question.subject|safe }}
                </a> [{{ question.answer_set.count }}]
                <br>
                <small>
                    👍: {{ question.voter.count }},
                    Author: <a href="{% url 'aiphabtc:profile_detail' question.author.id %}">
                                {{ question.author.username }}
                            </a>,
                    Posted on: {{ question.create_date }}
                </small>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">No Posts Yet</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        {% if question_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.previous_page_number }}" href="#">Prev</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">Prev</a>
        </li>
        {% endif %}
        <!-- 페이지 리스트 -->
        {% for page_number in question_list.paginator.page_range %}
        {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
        {% if page_number == question_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" date-page="{{ page_number }}" href="#">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음 페이지 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.next_page_number }}" href="#">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">Next</a>
        </li>
        {% endif %}
    </ul>
    {% if board.name == 'announcements' %}
        {% if user.is_staff or user.is_superuser %}
            <a href="{% url 'aiphabtc:question_create' board.name %}" class="btn btn-primary">Create Post</a>
        {% else %}
            <p class="text-muted">Only Admins can post on the announcement board</p>
        {% endif %}
    {% else %}
        <a href="{% url 'aiphabtc:question_create' board.name %}" class="btn btn-primary">Create Post</a>
    {% endif %}
</div>
<form id="searchForm" method="get" action="{% url 'aiphabtc:board_filtered' board_name=board.name %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
 </form>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".page-link").on('click', function() {
            $("#page").val($(this).data("page"));
            $("#searchForm").submit();
        });

        $("#btn_search").on("click", function() {
            $("#kw").val($(".kw").val());
            $("#page").val(1);
            $("#searchForm").submit();
        });

        $(".so").on('change', function() {
            $("#so").val($(this).val());
            $("#page").val(1);
            $("#searchForm").submit();
        });
    });
</script>
{% endblock %}
