{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-4">
            <h4>Sign Up</h4>
        </div>
        <div class="col-8 text-right">
            <span>or <a href="{% url 'common:login' %}">Login if you already have an account.</a></span>
        </div>
    </div>
    <form method="post" class="post-form">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="username">User ID</label>
            <input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" name="password1" id="password1" value="{{ form.password1.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input type="password" class="form-control" name="password2" id="password2" value="{{ form.password2.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email" value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <!-- Terms and Conditions Checkbox -->
        <div class="form-group">
            <label for="terms">Terms & Conditions</label>
            <textarea id="terms" class="form-control" style="height: 200px; overflow-y: scroll;" readonly>
Insults and slander targeting specific races, nationalities, regions, occupations, genders, ages, sexual orientations, religions, or disabilities are prohibited.
Any behavior that insults, demeans, or slanders others, or causes hatred, discomfort, or fear in others is prohibited.
All acts that incite hatred or instigation are prohibited.

Sexual harassment and lewd conversations are prohibited in all forms, including discussing or implying sexual topics in calls, chats, posts, profiles, or messages, regardless of the reason.
Lewd jokes, sexual comparisons or evaluations of appearance, asking personal sexual information, or forcing specific behaviors are all considered verbal, physical, or visual sexual misconduct and are prohibited.

Exchanging contact information or encouraging meetings, excessive questioning of personal details, and exchanging contact information is prohibited.
Illegal transactions, including demands for money, are strictly prohibited.

Promoting, advertising, or encouraging sign-ups for commercial products/services without prior consent from the administrator is prohibited.
Infringing upon the copyright, database rights, trademarks, or other intellectual property rights of this community is prohibited.
            </textarea>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="agreeTerms" name="agreeTerms" required>
            <label class="form-check-label" for="agreeTerms">I agree to the above terms and conditions.</label>
        </div>
        <button type="submit" class="btn btn-primary">Create Account</button>
    </form>
</div>
{% endblock %}