{% load static %}
{% load transaction_tags %}
<style>
    .navbar-nav .nav-link {
        font-size: 0.80rem; /* Adjust the size as needed */
    }
</style>
<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="{% url 'aiphabtc:index' %}" style="color: green;">AIPHABTC <small style="color: black; font-size: 8px;">Powered by Django</small></a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" arai-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav">
            <li><a class="nav-link" href="{% url 'aiphabtc:about-us' %}">About</a></li>
            <li><a class="nav-link" href="{% url 'aiphabtc:board_filtered' 'free_board' %}">FreeBoard</a></li>
            <li><a class="nav-link" href="{% url 'aiphabtc:board_filtered' 'perceptive_board' %}">Predictions</a></li>
            <li><a class="nav-link" href="{% url 'aiphabtc:board_filtered' 'tutorials' %}">Tutorials</a></li>
            <li><a class="nav-link" href="{% url 'aiphabtc:board_filtered' 'announcements' %}">Announcements</a></li>
            <li><a class="nav-link" href="{% url 'aiphabtc:pattern_matching' %}">PatternMatching</a></li>
            <li><a class="nav-link" href="{% url 'aiphabtc:chart_analyst_image' %}">ChartAnalyzer</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'common:account_page' %}">
                    <i class="fas fa-user" style="color: green;"></i> {{ user.username }}
                </a>
            </li>
            {% endif %}
            <li><a class="nav-link" href="{% url 'common:settings_base' %}"><i class="fas fa-cog" style="color: green;"></i> Settings</a></li>
            <li><a class="nav-link" href="{% url 'common:user_ranking' %}"><i class="fas fa-trophy" style="color: green;"></i> Ranks</a></li>
            <li><a class="nav-link" href="{% url 'common:attendance' %}"><i class="fas fa-calendar-check" style="color: green;"></i> Attendance</a></li>
            <li><a class="nav-link" href="{% url 'common:referral' %}"><i class="fas fa-user-friends" style="color: green;"></i> Referrals</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" onclick="toggleDropdown(event)" aria-haspopup="true"><i class="fas fa-bell" style="color: green;"></i> Activity</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% get_last_transactions as last_transactions %}
                    {% for t in last_transactions %}
                    <a class="dropdown-item" href="{% url 'common:transaction_detail' t.id %}">
                        <strong>{{ t.timestamp|date:"SHORT_DATETIME_FORMAT" }}</strong>:
                        {% if t.points %}{{ t.points }} points{% endif %}
                        - {{ t.reason }}
                    </a>
                    {% empty %}
                    <a class="dropdown-item" href="#">You don't have any recent activities</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'common:logout' %}">
                    <i class="fas fa-sign-out-alt nav-icon-green" style="color: green;"></i> Logout
                </a>
                {% else %}
                <a class="nav-link" href="{% url 'common:login' %}">
                    <i class="fas fa-sign-in-alt nav-icon-green" style="color: green;"></i> Login/Sign up
                </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
<script>
// This function toggles the dropdown.
function toggleDropdown(event) {
    // Prevent the default anchor behavior
    event.preventDefault();
    // Get the dropdown menu of the clicked dropdown link
    var dropdownContent = event.currentTarget.nextElementSibling;
    // Toggle the display property between 'block' and 'none'
    dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
}

// Optional: Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
    if (!event.target.matches('.dropdown-toggle')) {
        var dropdowns = document.getElementsByClassName("dropdown-menu");
        for (var i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.style.display === 'block') {
                openDropdown.style.display = 'none';
            }
        }
    }
}
</script>